body {
    background-color: #102131;
    color: #eee;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
}

#particleCanvas {
  display: block;
  margin: auto;
  transform: rotate(45deg);
  border-radius: 10px;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.header {
    background-color: #0f5fdf;
    color: #ff0;
    margin-bottom: 2rem;
    padding: 2rem 1rem;
    text-align: center;
}

.section {
    padding: 0.5rem 2rem 0rem 1rem;
}

.link:hover {
    text-decoration: underline;
}

.btn {
    color: #ff0;
}

a {
    color: #ff0;
    text-decoration: none;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}
